body{
    background: lightslategray;
}

.friend{
    background: teal;
    border-radius: 10px;
    border: solid;
}

p{
    text-transform: uppercase;
}

h1, h3{
    text-align: center;
    color: coral;
    font-weight: 400;
}

